body {
    font-family: Roboto, Arial;
    background-color: #282828;
    color: #fff
}

h1 {
    text-align: center;
}

button {
    background-color: rgb(26, 220, 220);
    border: solid 1px;
    font-size: medium;
    font-weight: bold;
    border-radius: 4px;
    padding: 4px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    margin: 5px;
}

input {
    border: none;
    padding: 4px;
}